* {
  box-sizing: border-box !important;
}

#root {
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

.main-container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  color: #fff !important;
  background: #111 !important;
  overflow: hidden !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
}
