.CardInput {
    margin: 10px;
    height: fit-content;
}

.card-container{
    justify-content: space-between;
    margin: 5px;
    background-color: black !important;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px; /* Adjust the max-width as needed */
  }

  .truncate-text--wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .truncate-text--content {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#movieMainContainer {
    overflow-y: auto;
    width: 100vw;
    max-width: 1350px;
    height: 100vh;
    max-height: 1350px;
}

.movieTitles{
    align-content: center;
}

.overview {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}



.CardInput {
    margin: 10px;
    height: 180px;
    overflow: auto;
    
}

.card-container{
    justify-content: space-between;
    margin: 5px;

}


.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px; /* Adjust the max-width as needed */
  }

  .truncate-text--wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .truncate-text--content {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.MoviePage{
     display: flex !important;
     justify-content: center !important;
}

#movieMainContainer {
    overflow-y: auto;
    width: 100vw;
    max-width: 1350px;
    height: 100vh;
    max-height: 1350px;
    
}

.movieTitles{
    align-content: center;
}

.overview {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}


