* {
  margin: 0;
  padding: 0;
}
#searchResultName > h3 {
  text-align: center;
  margin: 15px 0;
}
#mainSearchContainer {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 120px;
}

.posterImg {
  width: 100%;
  height: 80%;
  max-height: 290px;
  border-radius: 5px;
}
.cardMainContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;
}

.heroContainer {
  width: 100%;
  max-width: 1350px;
  height: 80vh;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
.heroChild {
  height: 100%;
  background-color: #00000085;
}
.heroChild > h2 {
  margin-top: 15px !important;
}
.Left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.Right {
  width: 70%;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
.heroPoster {
  max-width: 200px !important;
  height: 300px;
  border-radius: 5px;
}

#youtubePlayer,
.youtubePlayer {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

@media (min-width: 900px) {
  #mainSearchContainer {
    overflow-y: hidden !important;
  }

  .cardMainContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 450px) {
  .cardMainContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }

  .heroContainer {
    background-position: top !important;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-top: calc(100vw - 75%);
  }
  .heroChild {
    padding: 0;
    margin: 0;
    background-color: transparent !important;
  }
  .heroPoster {
    height: 180px;
    box-shadow: 0px -2px 20px -5px rgba(255, 255, 255, 0.6);
    border-radius: 5px;
  }
  .Right {
    width: 100%;
    padding: 0 10px;
  }
  #heroTitle {
    display: block !important;
    text-align: center;
  }
  .modalBox {
    width: 100% !important;
    padding: 0 10px;
  }
}

@media (max-width: 700px) and (min-width: 450px) {
  .cardMainContainer {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
  .modalBox {
    width: 95% !important;
  }
  .heroContainer {
    background-position: top !important;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-top: calc(100vw - 70%);
  }
  .heroChild {
    padding: 0;
    margin: 0;
    background-color: transparent !important;
  }
  .heroPoster {
    height: 220px;
    box-shadow: 0px -2px 20px -5px rgba(255, 255, 255, 0.6);
    border-radius: 5px;
  }
  .Right {
    width: 100%;
    padding: 0 10px;
  }
  #heroTitle {
    display: block !important;
    text-align: center;
  }
}

@media (max-width: 900px) and (min-width: 700px) {
  .cardMainContainer {
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
  }
  .modalBox {
    width: 90% !important;
  }
  .Left {
    padding-left: 0;
  }
}
